Final Deliverables/Source Code/flows.json
[{"id":"51fff1192b3c900f","type":"tab","label":"Smart Farming","disabled":false,"info":"","env":[]},{"id":"4c7514a1e2ea48b4","type":"function","z":"51fff1192b3c900f","name":"Soil Moisture","func":"global.set(\"moist\",msg.payload.soil_moisture)\nmsg.payload=msg.payload.soil_moisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":776,"y":125,"wires":[["064ff3f3cabf1e7b","642e4aab1f83d68e"]]},{"id":"63d5982072497ca0","type":"function","z":"51fff1192b3c900f","name":"Humidity","func":"global.set(\"hum\",msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":180,"wires":[["642e4aab1f83d68e","e5d4caf077fa680c"]]},{"id":"aaf893779ed9d194","type":"function","z":"51fff1192b3c900f","name":"Temperature","func":"global.set(\"temp\",msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":781,"y":266,"wires":[["642e4aab1f83d68e","088cae0c62fcaa4d"]]},{"id":"064ff3f3cabf1e7b","type":"ui_gauge","z":"51fff1192b3c900f","name":"Soil Moisture","group":"2923c064bf3df15c","order":2,"width":"7","height":"7","gtype":"gage","title":"Moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1062.5,"y":127,"wires":[]},{"id":"642e4aab1f83d68e","type":"debug","z":"51fff1192b3c900f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":340,"wires":[]},{"id":"85ecd0d939f6a002","type":"ui_button","z":"51fff1192b3c900f","name":"Motor ON","group":"86861574e9b17503","order":0,"width":"10","height":"1","passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"topic","topicType":"msg","x":660,"y":600,"wires":[["b1f8edadc38237c3","771e0ffb1db88c0e"]]},{"id":"373c9af0058f7990","type":"ui_button","z":"51fff1192b3c900f","name":"Motor OFF","group":"86861574e9b17503","order":1,"width":"10","height":"1","passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":672.5,"y":682,"wires":[["b1f8edadc38237c3","771e0ffb1db88c0e"]]},{"id":"b1f8edadc38237c3","type":"debug","z":"51fff1192b3c900f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":922.5,"y":692,"wires":[]},{"id":"fe4dda61e8a6c9e9","type":"http response","z":"51fff1192b3c900f","name":"http","statusCode":"","headers":{},"x":912.5,"y":767,"wires":[]},{"id":"19cd58caf70bcfc6","type":"http in","z":"51fff1192b3c900f","name":"[get]/command","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":677.5,"y":767,"wires":[["fe4dda61e8a6c9e9","771e0ffb1db88c0e","b1f8edadc38237c3"]]},{"id":"191a3c3239d63119","type":"http in","z":"51fff1192b3c900f","name":"Get data","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":660,"y":520,"wires":[["035f57f3572e0300"]]},{"id":"035f57f3572e0300","type":"function","z":"51fff1192b3c900f","name":"Data","func":"msg.payload = {\n    \"temperature\":global.get(\"temp\"),\n    \"humidity\":global.get(\"hum\"),\n    \"moisture\":global.get(\"moist\"),\n    \"message\":global.get(\"message\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":832.5,"y":522,"wires":[["fec806ccb1cfe125"]]},{"id":"fec806ccb1cfe125","type":"http response","z":"51fff1192b3c900f","name":"Response","statusCode":"","headers":{},"x":1022.5,"y":557,"wires":[]},{"id":"771e0ffb1db88c0e","type":"ibmiot out","z":"51fff1192b3c900f","authentication":"apiKey","apiKey":"a69593c294c5db8c","outputType":"evt","deviceId":"weather_today","deviceType":"weather_device","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":912.5,"y":612,"wires":[]},{"id":"e5d4caf077fa680c","type":"ui_gauge","z":"51fff1192b3c900f","name":"","group":"2923c064bf3df15c","order":2,"width":"7","height":"7","gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":"-20","max":"125","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1057.5,"y":192,"wires":[]},{"id":"088cae0c62fcaa4d","type":"ui_gauge","z":"51fff1192b3c900f","name":"","group":"2923c064bf3df15c","order":2,"width":"7","height":"7","gtype":"gage","title":"Temperature","label":"degree ","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#e71818"],"seg1":"","seg2":"","className":"","x":1062.5,"y":272,"wires":[]},{"id":"859b957a5a9cd0a1","type":"ibmiot in","z":"51fff1192b3c900f","authentication":"apiKey","apiKey":"a69593c294c5db8c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"weather_today","applicationId":"","deviceType":"weather_device","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":590,"y":200,"wires":[["4c7514a1e2ea48b4","63d5982072497ca0","aaf893779ed9d194"]]},{"id":"2923c064bf3df15c","type":"ui_group","name":"Dashboard","tab":"b6f8da5acd22839c","order":1,"disp":true,"width":"21","collapse":false,"className":""},{"id":"86861574e9b17503","type":"ui_group","name":"Motor","tab":"b6f8da5acd22839c","order":2,"disp":true,"width":"20","collapse":false,"className":""},{"id":"a69593c294c5db8c","type":"ibmiot","name":"weather_monitoring","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b6f8da5acd22839c","type":"ui_tab","name":"IOT SMART FARMING","icon":"dashboard","disabled":false,"hidden":false}]